################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/Tests.Bytz.Collections.Dispatch/FileContentIndex
/.vs
